<div class="container">
<h4>Who is the contact for this project?</h4>

<form>
    <div class="form-row">
        <div class="col-md-6">
          <div class="md-form form-group">
            <input type="text" class="form-control" placeholder="First name">
            </div>
        </div>

        <div class="col-md-6">
          <div class="md-form form-group">
            <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="md-form form-group">
                <input type="email" class="form-control" id="inputEmail4MD" placeholder="Email">
                <label for="inputEmail4MD"></label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="md-form form-group">
                <input type="text" class="form-control" id="" placeholder="Phone">
                <label for=""></label>
            </div>
        </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="md-form form-group">
                <input type="text" class="form-control" id="" placeholder="Project Number">
                <label for=""></label>
            </div>
        </div>
    </div>
    </div>

</form>
</div>

<hr>

<div class="container">
<h4>Which facility is this for?</h4>
<form>
<label></label>
<select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>

<!-- Default input -->
<div class="row">
    <div class="col-md-3">
        <label for="exampleForm2"></label>
        <input type="text" id="exampleForm2" placeholder="Other" class="form-control">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="exampleForm2">Name of Department Authorizing Project?</label>
        <input type="text" id="exampleForm2" placeholder="Other" class="form-control">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="exampleForm2">Cost Center / Sub Account Project Title?</label>
        <input type="text" id="exampleForm2" placeholder="Other" class="form-control">
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h4>Invoice should be submitted to:</h4>
        <!-- Default unchecked disabled -->
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultUncheckedDisabled2" name="disabledGroupExample" disabled>
    <label class="custom-control-label" for="defaultUncheckedDisabled2">Default unchecked disabled</label>
  </div>

  <!-- Default checked disabled -->
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultCheckedDisabled2" name="disabledGroupExample" checked disabled>
    <label class="custom-control-label" for="defaultCheckedDisabled2">Default checked disabled</label>
  </div>
    </div>
</div>
</form>
</div>
